.br-followCard{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .8rem;
}
.br-followCard-header{
    display:flex;
    align-items: center;
    gap: 4px;
}
.br-followCard-info{
    display: flex;
    flex-direction: column;
}
article header span{
    opacity: .6;
}
.br-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    margin-right: 2px;
}

.br-followCard-button{
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;  
    border: 1px solid #000; 
    transition: .3s ease background-color;
}
.br-followCard-button.is-following{
    border : 1px solid red;
}

.br-followCard-button:hover{
    background-color: #09f;
}

.br-followCard-button.is-following:hover{
    background: red;
}